<div class="section px-4 lg:px-16">
  <app-sub-header
  pageTitle="Products"
  action3Name="Create New Product"
  icon='assets/icons/add.png'
  buttonStyle="active:scale-95 bg-gray-950/85 p-2 hover:gray-400" (action3)="toggleCreateProduct()"></app-sub-header>

  <!-- search section -->
   <div class="mt-1">
    <app-search-upload-header></app-search-upload-header>
   </div>

   <div class="div mt-4 h-2"></div>

   <!-- warehouse product section -->
   <ng-container  *ngFor="let item of wareHouses">
    <div class="warehouses-section h-full bg-gray-100/65 p-8  flex flex-col mt-4">
      <div class="grid md:grid-col-2 gap-2 md:gap-2 lg:gap-0 lg:grid-cols-3 w-full">
        <div class="warehouse-info flex items-center gap-8">
          <div class="flex items-center gap-4">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
              </svg>
            </span>

            <h2 class="text-xl font-medium text-gray-800">{{item.name}}</h2>

            <span class="text-xs text-gray-500 p-1 px-4 rounded-full bg-gray-200/85">{{item.productCount}} products {{item.itemCount}} items</span>
          </div>
        </div>

        <div class="warehouse-address  text-gray-700">
          {{item.address}}
        </div>

        <div (click)="toggleWareHouse(item.id)" class="font-bold flex justify-end items-center">
          <span >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67"/>
            </svg>
          </span>

          <!-- <span *ngIf="isWareHouse && currentWareHouseId === item.id">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-up" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894z"/>
            </svg>
          </span> -->
        </div>
      </div>

      <!-- products -->
       <div *ngIf="isWareHouse && currentWareHouseId===item.id" class="py-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 ">
        <ng-container *ngFor="let item of getWarehouseProducts(item.id)">
          <button (click)="routeToDetail(item.id)">
            <app-product-card productName={{item.name}} amountSold={{item.amountSold}} image={{item.media[0]}}></app-product-card>

          </button>
        </ng-container>
       </div>




       <!-- Pagination -->
       <div *ngIf="isWareHouse && currentWareHouseId===item.id" class="flex w-full justify-end mt-8">
        <app-pagination></app-pagination>
      </div>

     </div>
   </ng-container>


   <div *ngIf="wareHouses.length <=0 && pageLoading" class="w-full flex justify-center items-center h-[50vh]">
    <app-spinner></app-spinner>
  </div>

  <div *ngIf="wareHouses.length<=0 && !pageLoading ">
   <app-empty-list></app-empty-list>
  </div>

  <div *ngIf="isCreateProduct" class="product-modal">
    <app-create-product (togleModal)="toggleCreateProduct()" (saveProduct)="saveProduct()"></app-create-product>
  </div>


</div>



