<div class="card flex justify-content-center gap-2">
  <p-toast />
  <p-button
      type="button"
      (onClick)="showSuccess()"
      label="Success"
      severity="success" />
  <p-button
      type="button"
      (onClick)="showInfo()"
      label="Info"
      severity="info" />
  <p-button
      type="button"
      (onClick)="showWarn()"
      label="Warn"
      severity="warning"  />
  <p-button
      type="button"
      (onClick)="showError()"
      label="Error"
      severity="danger" />

</div>


