<div class="section px-4 md:px-16 lg:px-16">
  <!-- header section -->
  <app-sub-header
        pageTitle="dashboard"
        action1Name="customize your dashboard"
        action3Name="Filter"
        icon='assets/icons/filter.png'
        buttonStyle="active:scale-95 hover:text-gray-800 flex justify-end md:justify-start lg:justify-start"></app-sub-header>


  <!-- summary section -->
  <div class="summary p-6 flex flex-col md:flex-col lg:flex-row gap-6 bg-gray-100/65">
    <div class="layout-1 basis-1/2">
      <h4 class="text-lg font-medium text-gray-800">Inventory Summary</h4>

      <div class="flex gap-4 mt-4 lg:flex-row md:flex-col flex-col bg-gray-100/65">
        <div class="flex flex-col gap-2 bg-white px-6 py-6 basis-1/2">
          <span class="text-sm text-gray-600">Total items</span>
          <div class="flex justify-between items-center">
            <span *ngIf="metrics==null">
              <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
              </span>
            <span class="text-xl font-bold text-gray-800">{{metrics?.data?.total_items}}</span>
            <span class="text-xs cursor-pointer hover:text-gray-500 active:scale-95 text-gray-600 flex items-center gap-2">
              view detail
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                </svg>
              </span>
            </span>
          </div>
        </div>

        <div class="flex flex-col gap-2 bg-white px-6 py-6 basis-1/2">
          <span class="text-sm text-gray-600">Low stock alert</span>
          <div class="flex justify-between items-center">
            <span *ngIf="metrics==null">
              <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
              </span>
            <span class="text-xl font-bold text-gray-800">{{metrics?.data?.total_items}}</span>
            <span class="text-xs cursor-pointer hover:text-gray-500 active:scale-95 text-gray-600 flex items-center gap-2">
              view detail
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                </svg>
              </span>
            </span>
          </div>
        </div>

      </div>
    </div>

    <div class="divider hidden md:hidden lg:block border-l h-[150px]"></div>

    <div class="layout-2 basis-1/2">
      <h4 class="text-lg font-medium text-gray-800">Sales Activities</h4>

      <div class="flex gap-4 mt-4 lg:flex-row md:flex-col flex-col">
        <div class="flex flex-col gap-2 bg-white px-6 py-6 basis-1/2">
          <span class="text-sm text-gray-600">To be delivered</span>
          <div class="flex justify-between items-center">
            <span *ngIf="metrics==null">
              <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
              </span>
            <span class="text-xl font-bold text-gray-800">{{metrics?.data?.total_to_be_delivered}}</span>
            <span class="text-xs cursor-pointer hover:text-gray-500 active:scale-95 text-gray-600 flex items-center gap-2">
              view detail
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                </svg>
              </span>
            </span>
          </div>
        </div>

        <div class="flex flex-col gap-2 bg-white px-6 py-6 basis-1/2">
          <span class="text-sm text-gray-600">To be ordered</span>
          <div class="flex justify-between items-center">
            <span *ngIf="metrics==null">
              <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
              </span>
            <span class="text-xl font-bold text-gray-800">{{metrics?.data?.total_to_be_ordered}}</span>
            <span class="text-xs cursor-pointer hover:text-gray-500 active:scale-95 text-gray-600 flex items-center gap-2">
              view detail
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                </svg>
              </span>
            </span>
          </div>
        </div>

      </div>
    </div>

  </div>

  <!-- Inventory tracker section -->
  <div class="summary flex flex-col md:flex-col lg:flex-row gap-6 mt-6">
    <div class="layout-1 basis-[60%] p-6 bg-gray-100/65">
      <div class="flex gap-4 justify-between ">
        <h4 class="text-lg font-medium text-gray-800">Inventory Summary</h4>
        <span class="text-xs cursor-pointer hover:text-gray-500 active:scale-95 text-gray-600 flex items-center gap-2">
          view detail
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
          </span>
        </span>
      </div>

      <h5 class=" text-gray-500 mt-1 mb-8">This month (3)</h5>

      <ng-container *ngFor="let item of ['item1', 'item2', 'item3']">
        <app-item-list></app-item-list>
      </ng-container>

      <h5 class=" text-gray-500 mt-8 mb-6">December (3)</h5>



    </div>


    <div class="layout-2 basis-[40%] bg-gray-100/65">
      <div class="flex gap-4 justify-between p-6">
        <h4 class="text-lg font-medium text-gray-800">Warehouse Detail</h4>
        <span class="text-xs cursor-pointer hover:text-gray-500 active:scale-95 text-gray-600 flex items-center gap-2">
          view detail
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
          </span>
        </span>
      </div>

      <div class="chart relative flex items-center w-full justify-center px-6">
        <div class="card flex justify-content-center">
          <p-chart type="doughnut" [data]="data" [options]="options" />
        </div>

        <div class="absolute flex flex-col items-center">
          <span class="label">Total items</span>
          <span class="label font-bold text-2xl">
            <span >
            <i *ngIf="!warehouseDetail" class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
            </span>
            {{warehouseDetail?.data?.total_items}}
          </span>
        </div>

      </div>

      <!-- chart detail section -->
      <div class=" px-6 py-8">
        <div class="flex flex-col gap-4">
          <div class="flex justify-between">
            <div class="flex items-center gap-4">
              <div class="box w-4 h-4 bg-gray-500"></div>
              <span class="text-gray-500">Cold room</span>
            </div>

            <span class="text-gray-8--">{{warehouseDetail?.data?.cold_room}} items</span>
            <span >
              <i *ngIf="!warehouseDetail" class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
              </span>
          </div>

          <div class="flex justify-between ">
            <div class="flex items-center gap-4">
              <div class="box w-4 h-4 bg-primary"></div>
              <span class="text-gray-500">Kitchen</span>
            </div>

            <span class="text-gray-800">{{warehouseDetail?.data?.kitchen}}</span>
            <span >
              <i *ngIf="!warehouseDetail" class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
              </span>
          </div>

        </div>
     </div>


    </div>

  </div>


  <!-- Top selling section  -->
  <div class="summary p-6 flex gap-6 bg-gray-100/65 mt-6 w-full">
    <div class="layout-1 w-full">
      <h4 class="text-lg font-medium text-gray-800">Top Selling Products</h4>

      <div class="products grid md:grid lg:grid md:grid-cols-2 lg:grid-cols-4 gap-4 w-full mt-8">
        <ng-container *ngFor="let item of TopSellingProduct?.data">
        <app-product-card productName={{item.name}} amountSold={{item.total_items_sold}} image={{item.media}}></app-product-card>
        </ng-container>
      </div>

      <div *ngIf="TopSellingProduct?.length <=0 && pageLoading" class="w-full flex justify-center items-center h-[50vh]">
        <app-spinner></app-spinner>
      </div>

      <div class="flex w-full justify-end mt-8">
        <app-pagination></app-pagination>
      </div>


    </div>



  </div>







</div>
