<div class="section h-full flex justify-center items-center px-4 lg:px-8 bg-white">
  <div class="login h-[500px] w-full max-w-[550px] lg:max-w-[450px] px-4 lg:px-8 flex flex-col justify-center">
    <div class="header">
      <h1 class="text-2xl font-bold">Reset Password</h1>
      <p class="text-sm mt-1">Enter the email you used to create your account so we can send you instructions on how to reset your password.</p>
    </div>


    <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()" class="mt-16 flex flex-col gap-4">


      <div class="">
        <div [ngClass]="{'border-red-400': isSubmitted && f.password.errors}" class="password px-4 flex items-center border rounded-md gap-2">
          <input formControlName="password"  type="text" class="w-full py-4 lg:py-3 rounded-md bg-transparent outline-none" placeholder="New Password">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
              <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>
              <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>
              <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>
            </svg>
          </span>
        </div>

      </div>

      <div class="">
        <div [ngClass]="{'border-red-400': isSubmitted && f.confirmPassword.errors}" class="password px-4 flex items-center border rounded-md gap-2">
          <input formControlName="confirmPassword" type="text" class="w-full  py-4 lg:py-3 rounded-md bg-transparent outline-none" placeholder="Confirm Password">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
              <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>
              <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>
              <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>
            </svg>
          </span>
        </div>

      </div>

      <button type="submit" class="w-full bg-black py-4 lg:py-3 rounded-md text-white mt-4 active:bg-black/85">
        <p-button [loading]="loading" label="Reset Passord"></p-button>
      </button>
      <button routerLink="/auth/login" class="w-full border border-black bg-white py-4 lg:py-3 rounded-md text-black active:bg-black/85">Back to Login</button>
    </form>



  </div>
</div>


