<div class="border  w-full ">
  <div class="image">
    <img src="assets/images/image.png" class="object-cover w-full" alt="">
  </div>

  <div class="bg-white flex justify-start flex-col p-4">
    <h4 class="text-gray-800 text-start flex justify-between uppercase">
      {{productName}}

      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
          <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
        </svg>
      </span>

    </h4>
    <p class="text-gray-500 text-start text-sm mt-1">{{amountSold}} items sold</p>
  </div>
</div>
