<div class="section h-screen w-full flex justify-center items-center">
  <div class="login h-full w-full rounded-md flex flex-col lg:flex-row">
    <div class="section-one basis-1/2 h-full ">
      <div class="content text-white flex flex-col items h-full p-8 lg:p-16">
        <div class="logo font-bold text-2xl">Starters</div>
        <div class="div mt-8 h-[70vh] overflow-hidden relative">
          <img src="assets/images/starter.png" class="w-full h-full object-cover" alt="">
      </div>
      </div>
    </div>
    <div class="section-two basis-1/2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

