<div class="section h-screen w-full flex justify-center items-center">
  <div class="login h-full w-full rounded-md flex flex-col lg:flex-row">
    <div class="section-one basis-1/2 h-full ">
      <div class="content text-white flex flex-col items h-full p-8 lg:p-20">

        <!-- <div class="">
          <div class="logo font-bold text-2xl flex  gap-4 items-center cursor-pointer">
          <img src="assets/logo.png"  class="" alt="">
            Starters
          </div>

          <p class="mt-4">
            Optimize inventory levels to reduce costs and improve customer satisfaction.
          </p>
        </div> -->



      </div>


    </div>
    <div class="section-two basis-1/2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

