<div class="section">
  <div class="">
    <div class="flex flex-col bg-white border px-4 py-2 shadow-md w-[300px] h-screen items-start gap-8 cursor-pointer">
      <div class="w-full flex justify-end">
        <button (click)="onclick()"  type="button" class="size-8 inline-flex justify-center items-center gap-x-2  border border-transparent  text-gray-800 hover:bg-gray-200 focus:outline-none focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none" aria-label="Close" data-hs-overlay="#hs-bg-gray-on-hover-cards">
          <span class="sr-only">Close</span>
          <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
        </button>
      </div>
      <ng-container *ngFor="let row of menu">
       <nav (click)="route(row.route)" class="whitespace-nowrap flex w-full gap-2 text-base text-gray-red hover:text-gray-800 active:scale-95">
         <img src={{row.icon}} class="w-6" alt="">
         {{row.name}}
       </nav>
      </ng-container>
     </div>
  </div>
</div>


