
<p-toast/>

<div class="section h-full flex justify-center items-center px-4 lg:px-8 bg-white">
  <div class="login h-[500px] w-full max-w-[550px] lg:max-w-[450px] px-4 lg:px-8 flex flex-col justify-center">
    <div class="header">
      <h1 class="text-2xl font-bold">Forgot Password</h1>
      <p class="text-sm mt-1">Enter the email you used to create your account so we can send you instructions on how to reset your password.</p>
    </div>


    <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()" class="mt-16  flex flex-col gap-4">
      <div class="email px-4 flex items-center border rounded-md gap-2 " [ngClass]="{'border-red-400': isSubmitted && f.email.errors}">
        <input formControlName="email"  type="text" class="w-full  py-4 lg:py-3 rounded-md bg-transparent outline-none" placeholder="Email">
      </div>

      <button type="submit" class="w-full bg-black py-4 lg:py-3 rounded-md text-white mt-4 active:bg-black/85" >
        <p-button [loading]="loading" label="Send"></p-button>
      </button>
      <button routerLink="/auth/login" class="w-full  py-4 lg:py-3 rounded-md text-black border border-black active:bg-black/85">back</button>
    </form>



  </div>
</div>


