@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
// @import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

// styles.scss
@layer tailwind-base,
primeng,
tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer primeng; //not necessary I think

@tailwind base;
@tailwind components;
@tailwind utilities;




.lexend {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}


  body {
    overflow-y: scroll;
    margin: 0px;
    padding: 0px;
  }
